@font-face {
    font-family: "Montserrat Header";
    src: url("fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat Body";
    src: url("fonts/Montserrat/Montserrat-Light.ttf")
}

body {
    padding: none;
    margin: none;
}

.landing-page {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: none;
    margin: none;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.text-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
    z-index: 2;
}

.header {
    padding-top: 100px;
    font-family: Montserrat Header;
    z-index: 2;
}

.text {
    font-family: Montserrat Body;
    z-index: 2;
}

.separator {
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    z-index: 2;
}

hr {
    color: #eeeeee;
    border: 3px solid #a2c4c9;
    z-index: 2;
}

.plant-container1 {
    position: absolute;
    top: -140px;
    left: -70px;
    height: auto;
    z-index: -10;
}

.plant-container2 {
    position: absolute;
    bottom: -90px;
    right: -60px;
    z-index: -10;
    height: auto;
}

.button {
    font-family: Montserrat Body;
	background-color: #7ebaadff; /*#619085ff*/
    border: none;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 60%);

    box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 30%);

	padding: 10px 28px;
	color: white;
    margin: 20px;
	display: inline-block;
    
    height: 70px;
    font-size: 0.45em;
    z-index: 2;
}

.button:hover {
    background-color: #619085ff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 30%);
    cursor: pointer;
    z-index: 2;
}

#left {
    left: 0px;
}

#right {
    right: 0px;
}

#local-businesses-btn {
    font-size: 0.8em;
    z-index: 2;
}

.button-container {
    margin: auto;
    width: 50%;
}
