* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  background-color:#FFF3D8;
}

#header {
  background-color: #D0E7BE;
  text-align: center;
}

#search-input {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#ul-content {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#ul-content li a {
  border: 1px solid #ddd;
  margin-top: -1px; 
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#ul-content li a:hover:not(.header) {
  background-color: #eee;
}
	
.title {
	padding: none;
	margin: none;
  text-decoration: none;
}

.hidden {
	display: none;
}
	